* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    cursor: default;
}

#cursor {
    height: 30px;
    width: 30px;
    background: blue;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
}

#main {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150vh;
    background-color: #202020;
}

.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    background-position: center;
    background-size: cover;
}

#card-one {
    top: 130%;
    background-image: url(images/image_one.jpg);
}

#card-two {
    top: 230%;
    background-image: url(images/image_two.jpg);
}

#card-three {
    top: 250%;
    background-image: url(images/image_three.jpg);
}

.text {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.text h1 {
    font-size: 50px;
}

.text p {
    font-size: 30px;
    margin-top: 20px;
}